<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer Register!</title>
  </head>

  <body>
    <h1>Consumer Register!</h1>
    <form action="/consumerRegister" method="post">

      <label for="username"> Enter the username</label>
      <input type="text" id="username" name="username"><br>

      <label for="password">Enter the password</label>
      <input type="password" id="password" name="password"><br>

      <label for="mobileNo">Enter the mobile no</label>
      <input type="number" id="mobileNo" name="mobileNo"><br>

      <label for="location">Enter the location</label>
      <input type="text" id="location" name="location"><br>

      <label for="address">Enter the address</label>
      <input type="text" id="address" name="address"><br>

      <label for="pin">Enter the pin</label>
      <input type="number" id="pin" name="pin"><br>

      <button>Submit</button>
    </form>

  </body>

</html>