<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProducerLogin</title>
  </head>

  <body>
    <h1>Producer Login!</h1>

    <form action="/producerLogin" method="post">
      <label for="username"> Enter the username</label>
      <input type="text" id="username" name="username"><br>

      <label for="password">Enter the password</label>
      <input type="password" id="password" name="password"><br>

      <button>Submit</button>
    </form>

  </body>

</html>